.col3 table{
	width:100%;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:top;
	margin-bottom:15px;
	border:1px solid #CCCCCC;
	}

.col3  table thead th{
	color:#FFFFFF;
	background-color:#666666;
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	text-align:center;
	table-layout:auto;
	vertical-align:middle;
	}

.col3  table tbody td{
	vertical-align:top;
	border-collapse:collapse;
	border-left:none;
	border-right:none;
	}
	
.col3  table thead th, table tbody td{
	padding:5px;
	border-collapse:collapse;
	}
	blockquote{
    color: #8B2323;
}
div#rightColumn{
	margin-top:12px;
	margin-left:31px;
	margin-right:10px;
	background:#cdcb98;
	width:268px;
	float:left;
}
.member span{font-size:14px;line-height:20px}
.col3{
	font-size:15px;
}
.services blockquote{
	font-size: 18px;
}
.member blockquote h2{
	margin-top:10px;
}
.member a{
	color:#000000;
}
div#rightlogin{
	margin-top:12px;
	margin-right:0;
	background:url(../image/icon/daohang.png);
	background-repeat: repeat-y;
	width:250px;
	float:right;
	font-size:18px;
	border-spacing: 0px;
}
div#rightDao{
	margin-top:12px;
	margin-right:0;
	background:url(../image/icon/daohang.png);
	background-repeat: repeat-y;
	width:250px;
	float:right;
	font-size:18px;
	border-spacing: 0px;
}